- if sales_aid.video?
  .col-md-3.col-sm-6
    = link_to sales_aid, remote: true, class: 'thumbnail sales-aid-thumbnail' do
      = image_tag sales_aid.large_thumbnail_url, class: 'img-responsive'
      .caption
        %h2= sales_aid.title

- elsif sales_aid.external_link?
  .col-md-3.col-sm-6
    = link_to sales_aid.link, target: :_blank, class: 'quick-button' do
      %i.fa.fa-calculator.burntOrange
      %p= sales_aid.title
    %br.hidden-xs/

- else
  .col-md-4
    .media.sales-aid
      = link_to download_sales_aid_path(sales_aid), class: 'pull-left', data: { 'no-turbolink' => true } do
        = file_type_icon sales_aid
      .media-body
        %h2.media-heading= sales_aid.title
        = link_to download_sales_aid_path(sales_aid), class: 'btn btn-info btn-xs', data: { 'no-turbolink' => true } do
          %i.fa.fa-cloud-download
          = p_space 'Download'
