- title 'Learn More'

%br/

- if @sales_aids.any?
  - @sales_aids.each do |category, sales_aids|
    .row
      .col-md-12
        .panel.panel-primary
          .panel-heading
            %h3.panel-title
              = sales_aid_category_icon category
              = p_space sales_aid_category(category, plural: true)

          .panel-body
            - sales_aids.in_groups_of(category == 'video' ? 4 : 3).each do |grouped_sales_aids|
              .row.sales-aid-row
                - grouped_sales_aids.compact.each do |sales_aid|
                  = render sales_aid
                
- else
  .row
    .col-md-12
      .alert.alert-info
        There are no documents available yet. Come back soon!

%br/

- if policy(SalesAid).create? || policy(SalesAid).manage?
  .row
    .col-md-12.btn-row
      - if policy(SalesAid).manage?
        = link_to manage_sales_aids_path, class: 'btn btn-primary' do
          %i.fa.fa-cogs
          = p_space "Manage"
      
      - if policy(SalesAid).create?
        = link_to new_sales_aid_path, class: 'btn btn-primary' do
          %i.fa.fa-plus
          = p_space "Upload New Sales Aid"
