- title 'Trials', false

.row
  .col-md-12
    .box.full-color
      .box-content
        = form_tag trials_path, method: :get, id: 'trial_filter' do
          .row
            .col-md-3.text-center
              %h4.white Species
              = select_tag :species, options_for_select(Trial.cached_species, params[:species]), include_blank: true, class: 'form-control'

            .col-md-3.text-center
              %h4.white Focus
              = select_tag :focus, options_for_select(Trial.cached_focuses, params[:focus]), include_blank: true, class: 'form-control'

            .col-md-3.text-center
              %h4.white Author
              = select_tag :author, options_from_collection_for_select(Author.cached_all, :id, :last_name, params[:author]), include_blank: true, class: 'form-control'

            .col-md-3.text-center
              %h4.white Peer Reviewed
              = select_tag :journal, options_for_select(Paper.cached_journals, params[:journal]), include_blank: true, class: 'form-control'

.row
  .col-md-12
    .table-responsive
      %table.table.table-condensed.table-bordered
        %thead
          - if @trials.any?
            %tr
              %th{style: 'width: 20%;'}= sortable :title, 'Title'
              %th.c Author
              %th.c= sortable :year
              %th.c= sortable :literature_type, 'Literature Type'
              %th.c= sortable :journal, 'Peer Reviewed Journal'
              %th.c Species
              %th.c Focus
              %th.c Dose
              %th.c Forage %
              %th.c Concentrate %
              %th.c Summary
              %th.c

        %tbody
          - if @trials.any?
            = render @trials
          - else
            %tr.warning
              %td.c{colspan: 9} 
                %br/
                There are no trials that match the current filters.
                %br/
                %br/

      = will_paginate @trials

%br/

- if policy(Trial).create?
  .row
    .col-md-12
      = link_to new_paper_path, class: 'btn btn-primary' do
        %i.fa.fa-plus
        = p_space "Add Literature"
