Amaferm Research BackOffice
= "===================================="

Contact Submission

Name:

= @feedback.user.full_name

Email:

= @feedback.user.email

Phone:

= @feedback.phone

City/State:

= @feedback.city_state

Comments:

= @feedback.comments
