Research Center BackOffice
= "===================================="

Contact Submission

Name:

= @feedback.user_name

Email:

= @feedback.user_email

Phone:

= @feedback.phone

City/State:

= @feedback.city_state

Comments:

= @feedback.comments
