Amaferm Research BackOffice
= "===================================="

= "Dear #{@user.full_name},"


= "#{@inviter.full_name} has invited you to become a registered user of the Amaferm Research BackOffice. "

Follow the link below to create your account.

= @register_url
