-# - cache [current_user, user, scope_cache_key] do
%tr
  %td= user.full_name
  %td.c= mail_to user.email
  %td.c= role_label user
  - if policy(current_user).edit?
    %td.r
      .btn-group
        - if user.password_digest.nil? && InvitePolicy.new(current_user, user).create?
          = link_to invite_user_path(user), title: 'Resend Registration Invitation', class: 'btn btn-xs btn-secondary', method: :post, data: { remote: true } do
            %i.fa.fa-envelope
        - if policy(user).edit?
          = link_to edit_user_path(user), title: "Edit User", class: "btn btn-xs btn-warning" do
            %i.fa.fa-pencil
        - if policy(user).destroy?
          = link_to user, title: "Delete User", class: "btn btn-xs btn-danger", data: { confirm: 'Are you sure?' }, method: :delete do
            %i.fa.fa-trash-o
