- title 'Users'

.row
  .col-md-4.col-md-offset-8.text-right
    = form_tag users_path, method: :get, id: 'user-search-form' do
      .input-group
        = text_field_tag :q, params[:q], id: 'user-search-term', class: 'form-control', placeholder: 'Search By Name...'
        %span.input-group-btn
          = submit_tag 'Search', class: 'btn btn-primary'

%br/

.row
  .col-md-12#users-container
    = render partial: 'users/users', locals: { users: @users }

- if policy(User).create?
  .row
    .col-md-12
      = link_to "Add User", new_user_path, class: 'btn btn-primary'

