%table.table.table-condensed.table-no-top-border.detail-table
  %thead
  %tbody
    %tr
      %th Lead Author
      %td= trial.author_name

    %tr
      %th Reference
      %td= trial.formatted_citation.html_safe

    %tr
      %th Literature Type
      %td= trial.literature_type

    %tr
      %th Product
      %td= trial.product

    %tr
      %th Location
      %td= trial.location

    %tr
      %th Year
      %td= trial.year

    %tr
      %th Summary
      %td= trial.summary

    %tr
      %th Dose
      %td= trial.dose

    %tr
      %th Species
      %td= trial.expanded_species_list

    %tr
      %th Focus(es)
      %td= trial.cached_focus_list

    %tr
      %th Forage
      %td= trial.forage

    %tr
      %th Concentrate
      %td= trial.concentrate

    - if trial.performance_measures.any?
      %tr
        %th{colspan: 2} Performance Measures

