- title 'Advanced Search', false

.row
  .col-md-4.col-md-offset-8
    = form_tag lookup_papers_path, method: :get, remote: true, class: 'form-inline inline-block' do
      .form-group
        .input-group.input-group-sm
          = text_field_tag :q, '', placeholder: 'Paper/Trial Number', class: 'form-control'
          %span.input-group-btn
            = submit_tag 'Go', class: 'btn btn-sm btn-primary'

%br/

.row
  .col-md-12
    .box.default#search-box
      .box-header
        %h2
          %span.i-bg
            %i.fa.fa-search
          = p_space 'Advanced Search'
        .box-icon
          %a.btn-minimize{href: "#"}
            %i.fa.fa-chevron-up
        .box-icon.reset-search
          = link_to search_papers_path, title: 'Reset Search' do
            %i.fa.fa-refresh

      .box-content
        = render partial: 'form'

      #reset-link-container.reset-search
        = link_to search_papers_path, class: 'text-muted' do
          %i.fa.fa-refresh
          = p_space 'Reset'

#results
  = render partial: 'results', locals: { results: @results, result_count: @result_count } if params[:paper_search]
