- title 'Welcome', false

#landing-page
  .col-md-12
    .row
      .landing-logo
        = image_tag 'landing-page-logo.png', class: 'img-responsive'

      .orange-bar
        .orange-bar-text
          %h2
            WELCOME TO THE AMAFERM
            %sup &#174;
            ONLINE RESEARCH CENTER
          %p
            The hub for the study and application of the natural feed additive, Amaferm
            %sup> &#174;
            , and the
            %br>/
            impact it can have on digestion, animal performance, energy and profitability.

    .row.hub-icons-wrapper.text-center
      .col-md-8.col-md-offset-2.col-sm-12.col-sm-offset-0
        - flash.each do |name, msg|
          .row
            .col-md-12
              = render_flash name, msg
        .row
          #flash.col-md-12
        .row
          .col-lg-2.col-md-4.col-sm-4.col-xs-6.text-center
            = link_to search_papers_path do
              = image_tag 'search-icon.png', class: 'img-responsive hub-icons'

          .col-lg-2.col-md-4.col-sm-4.col-xs-6.text-center
            = link_to papers_path do
              = image_tag 'literature-icon.png', class: 'img-responsive hub-icons'

          .col-lg-2.col-md-4.col-sm-4.col-xs-6.text-center
            = image_tag 'research-icon.png', class: 'img-responsive hub-icons'

          .col-lg-2.col-md-4.col-sm-4.col-xs-6.text-center
            = link_to learn_more_path do
              = image_tag 'support-materials-icon.png', class: 'img-responsive hub-icons'

          .col-lg-2.col-md-4.col-sm-4.col-xs-6.text-center
            = link_to new_feedback_path, remote: true do
              = image_tag 'connect-icon.png', class: 'img-responsive hub-icons'

          .col-lg-2.col-md-4.col-sm-4.col-xs-6.text-center
            = link_to new_access_request_path, remote: true do
              = image_tag 'request-access-icon.png', class: 'img-responsive hub-icons last-icon'
          
