%table.table.table-condensed.table-no-top-border.detail-table
  %thead
  %tbody
    %tr
      %th Lead Author
      %td= paper.author_name

    %tr
      %th Reference
      %td= paper.formatted_citation.html_safe

    %tr
      %th Literature Type
      %td= paper.literature_type

    %tr
      %th Product
      %td= paper.product

    %tr
      %th Location
      %td= paper.location
