= form_for @paper, html: { class: 'form-horizontal', multipart: true } do |f|
  = render partial: 'shared/form_errors', locals: { resource: @paper }

  %fieldset
    .form-group
      = f.label :source_id, 'Source #', class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_field :source_id, class: 'form-control'

    .form-group
      = f.label :title, class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_field :title, class: 'form-control'

    .form-group
      = f.label :author_name, 'Author', class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_field :author_name, class: 'form-control autocomplete', data: { authors: Author.cached_names }

    .form-group
      = f.label :citation, 'Reference', class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_area :citation, class: 'form-control'
        %span.help-block To italicize text, surround it with asterisks (*).

    .form-group
      = f.label :literature_type, 'Literature Type', class: 'control-label col-sm-2'
      .col-sm-10
        = f.collection_select :literature_type, Paper::LITERATURE_TYPES, :to_s, :humanize, {}, class: 'form-control'

    .form-group
      = f.label :journal, 'Peer Reviewed Journal', class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_field :journal, class: 'form-control autocomplete', data: { journals: Paper.cached_journals }

    .form-group
      = f.label :location, class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_field :location, class: 'form-control'

    .form-group
      = f.label :document, class: 'control-label col-sm-2'
      .col-md-10
        = f.file_field :document

  = f.fields_for :trials do |tf|
    %fieldset
      %legend= "Trial #{tf.object.source_sub_id || 'A'}"

      .form-group
        = tf.label :source_sub_id, 'Trial Letter', class: 'control-label col-sm-2'
        .col-sm-10
          .input-group
            %span.input-group-addon
              %span.paper-id-addon
              = "-"
            = tf.text_field :source_sub_id, disabled: true, class: 'form-control'

      .form-group
        = tf.label :level, class: 'control-label col-sm-2'
        .col-sm-10
          = tf.collection_select :level, policy(Trial).accessible_levels.keys.map(&:to_s), :to_s, :humanize, {}, class: 'form-control'

      .form-group
        = tf.label :year, class: 'control-label col-sm-2'
        .col-sm-10
          = tf.text_field :year, class: 'form-control'

      .form-group
        = tf.label :summary, class: 'control-label col-sm-2'
        .col-sm-10
          = tf.text_area :summary, class: 'form-control'

      .form-group
        = tf.label :species_list, 'Species', class: 'control-label col-sm-2'
        .col-sm-10
          = tf.text_field :species_list, class: 'form-control species-select2', data: { tags: Trial.cached_species }
          %span.help-block Separate with commas

      .form-group
        = tf.label :focus_list, 'Focus(es)', class: 'control-label col-sm-2'
        .col-sm-10
          = tf.text_field :focus_list, class: 'form-control focuses-select2', data: { tags: Trial.cached_focuses }
          %span.help-block Separate with commas

      .form-group
        = tf.label :calculation_list, 'Included in X Calculations', class: 'control-label col-sm-2'
        .col-sm-10
          = tf.text_field :calculation_list, class: 'form-control calculations-select2', data: { tags: Trial.cached_calculations }
          %span.help-block Separate with commas

      .form-group
        = tf.label :dose, class: 'control-label col-sm-2'
        .col-sm-10
          = tf.text_field :dose, class: 'form-control'

      .form-group
        = tf.label :forage, 'Forage %', class: 'control-label col-sm-2'
        .col-sm-10
          = tf.text_field :forage, class: 'form-control'

      .form-group
        = tf.label :concentrate, 'Concentrate %', class: 'control-label col-sm-2'
        .col-sm-10
          = tf.text_field :concentrate, class: 'form-control'

  %fieldset
    .form-group
      .col-sm-offset-2.col-sm-10
        = f.submit class: 'btn btn-primary'
        = f.submit 'Create and Add Another', class: 'btn btn-primary' if @paper.new_record?
        = link_to 'Cancel', papers_path, class: 'btn btn-inverse'
