%tr
  %td{style: 'width: 20%;'}= paper.formatted_citation
  %td.c= paper.year
  %td.c= paper.literature_type
  %td.c= paper.journal
  %td.c= paper.cached_species_list.join('<br/>').html_safe
  %td.c= paper.cached_focus_list.join('<br/>').html_safe
  %td.c= paper.dose
  / %td.c= paper.forage
  / %td.c= paper.concentrate
  %td.c
    %a.btn-link.summary-popover{role: 'button', title: 'Summary', data: {content: paper.summary}}
      %i.fa.fa-ellipsis-h.fa-lg.fa-border
  %td.c
    .btn-group
      = link_to paper, title: 'View', class: 'btn btn-xs btn-secondary' do
        %i.fa.fa-fw.fa-eye
      - if policy(paper).edit?
        = link_to edit_paper_path(paper), title: "Edit User", class: "btn btn-xs btn-warning" do
          %i.fa.fa-fw.fa-pencil
      - if policy(paper).destroy?
        = link_to paper, title: "Delete Paper", class: "btn btn-xs btn-danger", data: { confirm: 'Are you sure?' }, method: :delete do
          %i.fa.fa-fw.fa-trash-o