%table.table.table-condensed.table-no-top-border.detail-table
  %thead
  %tbody
    - if policy(Trial).show_level?
      %tr
        %th Level
        %td= trial.display_level

    %tr
      %th Year
      %td= trial.year

    %tr
      %th Summary
      %td= trial.summary

    %tr
      %th Dose
      %td= trial.dose

    %tr
      %th Species
      %td= trial.expanded_species_list

    %tr
      %th Focus(es)
      %td= trial.cached_focus_list

    %tr
      %th Forage
      %td= trial.forage

    %tr
      %th Concentrate
      %td= trial.concentrate

    - if trial.performance_measures.any?
      %tr
        %th{colspan: 2} Performance Measures
