%table.table.table-condensed.table-no-top-border.detail-table
  %thead
  %tbody
    %tr
      %th Year
      %td= trial.year

    %tr
      %th Summary
      %td= trial.summary

    %tr
      %th Dose
      %td= trial.dose

    %tr
      %th Species
      %td= trial.species_list

    %tr
      %th Focus(es)
      %td= trial.focus_list

    %tr
      %th Forage
      %td= display_percentage trial.forage

    %tr
      %th Concentrate
      %td= display_percentage trial.concentrate

    - if trial.performance_measures.any?
      %tr
        %th{colspan: 2} Performance Measures