%header.navbar#main-navbar{data: {'turbolinks-permanent' => true}}
  .container
    %button.navbar-toggle{type: 'button', "data-target" => ".sidebar-nav.nav-collapse", "data-toggle" => "collapse", style: 'color: white;'}
      %i.fa.fa-bars
      %span{style: 'font-variant: small-caps;'}= "&nbsp;MENU".html_safe
    %a#main-menu-toggle.hidden-xs
      %i.fa.fa-bars
    = link_to main_app.root_path, class: "navbar-brand col-lg-2 col-sm-1 col-xs-12" do
      %span.hidden-xs.hidden-sm Research Center
      %span.visible-sm Research
      %span.visible-xs
        = a_space 'Research'
        = image_tag 'open-door.png', size: '20x20'
        = 'Center'

    .nav-no-collapse.header-nav
      %ul.nav.navbar-nav.pull-right
        - if referred_from_amaferm?
          %li.back-to-amaferm.hidden-xs
            = link_to 'http://amaferm.com', class: 'btn' do
              %i.fa.fa-reply
              = p_space 'AMAFERM.com'

        - if signed_in?
          = render partial: 'layouts/admin_dropdown', locals: { phone: false }

          - if current_user.impersonating?
            = render partial: 'layouts/impersonation_dropdown'

          %li.dropdown
            %a.btn.account.dropdown-toggle{data: {toggle: "dropdown"}, href: "#"}
              .avatar= image_tag(current_user.avatar.url(:tiny))
              .user
                %span.hello Welcome!
                %span.name= current_user.full_name
            %ul.dropdown-menu
              %li.dropdown-menu-title
              %li
                = link_to edit_user_path(current_user) do
                  %i.fa.fa-pencil
                  Edit Profile

              - if policy(:role_impersonation).new?
                %li
                  = link_to new_role_impersonation_path, data: { remote: true } do
                    %i.fa.fa-magic
                    Change Role

              %li
                = link_to logout_path, method: :delete do
                  %i.fa.fa-off
                  Logout

          = render partial: 'layouts/admin_dropdown', locals: { phone: true }
        - else
          %li
            = link_to login_path, class: 'btn' do
              %i.fa.fa-sign-in
              = p_space 'Sign In'
